body{
    font-family: 'Oswald', sans-serif;
    background-color:wheat ;
}

h1{
    color: darkslategray;
}

.header-center{
    text-align: center;
}

h2{
    color: grey;
}

li{
    margin-left: 45%;
}

.product{
    margin-left: 35%;
    font-size: 20px;
}

a{
    margin: 1rem;
}